@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{ border: 1px solid red; } */

/* @font-face {
  font-family: 'GeistMono';
  src: url('../fonts/GeistMonoVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */
  
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-lighter: #bae6fd;/*sky-200*/
  --primary-light: #0369a1;/*sky-700*/
  --primary: #075985;/*sky-800*/
  --primary-dark: #0c4a6e;/*sky-900*/
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

.scrollStyle::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scrollStyle::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: var(--primary-lighter);
  border: 1px solid var(--primary-lighter);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
} 
.scrollStyle::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--primary-dark);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
